*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}
canvas{
    box-shadow: 20px 30px 50px #000;
    cursor: pointer;
}
h1{
    color: purple;
}